body{
  color: rgb(67, 65, 65);
}
#CompanyLogo{
  margin-left: 200px;
  cursor: pointer;
}
#CompanyLogo img{
  padding-top: 26px;

}
#MenueContainer{
position: fixed;
display: flex;
height: 10%;
min-width:10%;
max-width: 110%;
width: 120%;
background-color: rgb(132, 173, 220);
margin-left: -50px;
margin-top: -100px;
}
#MenueSection{
display: flex;
width: fit-content;
}
ul{
  margin-left:20px ;
  display: flex;
  list-style-type: none;
}
ul a{
  text-decoration: none;
  color: rgb(75, 74, 74);
  padding: 10px;
  margin-left: 10px;
}
ul a:hover{
  color: rgb(61, 158, 242);
}
ul a li{

  margin-left: 10px;
  cursor: pointer;
}
#SearchIconDiv{
margin-left: 300px;
width: 50px;
height: 40px;
}
#SearchIconDiv img{
  padding-top: 26px;
  cursor:pointer;
  width: 20px;
  height: 20px;

}

#SearchInputDiv{
  display: flex;
background-color: rgb(249, 249, 249);
width: 103%;
margin-left: -8px;
  height: 70px;
  top: 4%;
  z-index:2;
border-bottom: 2px solid gainsboro;
}
#SearchInput{
 margin-left: 30%;
 width: 35%;
 height: 35px;
 border-radius: 10px;
 margin-top: 18px;
 border:0.5px solid #cbc6c6;
 background-color: #e8e8e8;
 outline: 0.5px solid #cbc6c6 ;
}
#InputSearchIcon{
margin-top: 26px;
margin-left: -30px;
cursor: pointer;
}
#SearchInputCloseIcon{
  margin-top: 18px;
  margin-left: 40px;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}
#SearchInputCloseIcon:hover{
  background-color: #e8e8e8;
}

a{
  text-decoration: none;
}


#MenuUserDiv{
  min-width: 20%;
  max-width: 30%;
  margin-top: 2.5%;
  margin-left: 12%;
}

#MenuUserDiv div:hover{
cursor: pointer;
background-color: #ffffff;
border-radius: 2px;
width: fit-content;
height: fit-content;
}

#FeedContainer{
  height: 500px;
  width: 80%;
  margin-left: 150px;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}
#Poster{
  border: 0.1px solid rgb(214, 214, 214);
  width: 70%;
  height: 70px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #e8e8e8;
}

#PosterButton{
  display: flex;
  margin-top: 25px;
  column-gap: 50px;
}

#FilteringDiv{
  display: flex;
  column-gap: 10px;
  margin-top: 10px;
}
#FeedSearchDiv{
  display: flex;
  width: 100%;
  margin-left: 38%;
  column-gap: 10px;
}

#CreateListingContainer {
  display: none;
}

#CreateListingContainer.show {
  display: block;
  background: white; /* Transparent white background */
  position: fixed;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: 4;
  border: 1px solid black;
  width: 55%;
  height: 430px;
  border-radius: 5px;
}
#CreateListingTitleAndCloseIconSection{
  display: flex;
  column-gap: 100px;
 width: 100%;
}
#CreateListingTitleDiv{
width: 80%;
margin-left: 2%;
}
#ListingDescription{
  width: 90%;
  min-height: 100px;
  max-height: 400px;  
  border: 1px solid rgb(173, 173, 173);
  padding: 5px;
  margin-left: 2%;

}
#ListingDescription:focus{
outline: none;
}
#CloseIconDiv{
cursor: pointer;
}
#UploadPicsDiv{
  width: 92%;
  min-height: 50px;
  max-height: 200px;
  text-align: center;
  background-color: rgb(248, 245, 245);
  margin-left: 2%;

}
#UploadIcon{
  margin-top: 2%;
  cursor: pointer;
}
#UploadedPicsDiv{
  min-height: 200px;
  max-height: 400px;
  margin-left: 2%;

}

#PostListingButton{
  background-color: rgb(132, 173, 220);
  border: none;
  margin-left: 2%;

}

  #UploadedPicsDiv {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    gap: 8px;
  }
.uploaded-image-container{
  display: block;
}

.Listing{
  margin-top: 2%;
  width: 70%;
  height: fit-content;
  border:0.1px solid #e7e7e7 ;
}
.ListingHeader{
  display: flex;
  column-gap: 15px;
  margin-left: 2%;
}
.ListingDescription{
  margin-left: 2%;

}

.ListingLocation{
  margin-top: 4%;
  margin-left: 1%;
  display: flex;
}
.ListingLocation img{
  margin-top: 20%;
}
.ListingLocation p{
  font-size: 11px;
}
.ViewListing{
  background-color:rgb(132, 173, 220) ;
  color: #515050;
  padding: 2px;
}

.ListingType{
  margin-top: 4%;
  margin-left: 20%;
  display: flex;
}
.ListingType img{
  margin-top: 20%;
}
.ListingType p{
  font-size: 11px;
}

.ListingPosterLogo_Picture{
  margin-left: 5px;
  margin-top: 10px;
  border-radius: 40px;
  width: 40px;
  height: 40px;
}
.ListingPosterDiv{
 column-gap: 10px;
}
.ListingActionsDiv{
  margin-left: 2%;
  display: flex;
  column-gap: 10px;
}
.ListingActionsDiv div{
  padding: 3px;
  font-size: 12px;
  cursor: pointer;
  background-color:rgb(132, 173, 220) ;
  border-radius: 2px;
}
.ListingPicturesDiv{
  margin-left: 2%;
}
.ListingPicturesDiv img{
  max-width: 40%;
  min-width: 20%;
  min-height:100px ;
  max-height:150px ;

}

#ListingDetialsContactContainer{
  width:80%;
  height:400px;
  display: flex;
  column-gap:2%;
  margin-left: 10%;
  margin-top: 6%;
}

#ListingDetailsContainer{
width:70%;
height: 400px;
background-color:rgb(255, 255, 255);
display: flex;
column-gap: 1%;

} 
#ListImagesDiv{
  height: 400px;
  width:90%;
  background-color: #e7e7e7;
}
.Arrows{
  margin-top: 20%;
}
#ListingDetailsContactAgentForm {
  display: block;
  background-color: #e7e7e7;
}
